

.chart {
  position: relative;
  
  width: 100%;
  height: 100%;
}



.cryptoSelector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: var(--blue-02-dark-blue, #181837);
  border-radius: 10px;
}

.cryptoIcon {
  width: 24px;
  height: 24px;
}

.cryptoName {
  flex: 1;
  color: white;
}

.select {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;  /* Removes default arrow for select */
  -moz-appearance: none;     /* Removes default arrow for select */
  appearance: none;          /* Removes default arrow for select */
}